.landing-page {

    .hero-video, .second-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-video {
        height: 60vh;
        // background-repeat: no-repeat;
        background-size: contain;
        
    }

    .second-section {
        height: 70vh;
    }

    .stock-section {
        height: 70vh;
        background-size: cover;

    }

    .feature-section {
        height: 70vh;
    }

    .get-ahead-section {
        height: 25vh; 

        h1 {
            text-transform: uppercase;
        }
    }


    .blog-roll-container {
        height: 40vh;

        .blog-container {
            border-left: 1px solid #E6E6E6;
        }
    }

    .carousel-container {
        height: 70vh;
    }

    .carousel-item{
        height: 70vh;
    } 


}

