.landing-page {

    .card {
        border: none !important;
        border-radius: 0;
      }

    .hero-video, .second-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-video {
        height: 70vh;
        // background-repeat: no-repeat;
        background-size: contain;
        
    }

    .second-section {
        height: 70vh;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
      
        @media (min-width: 425px) {
          padding-right: 1.25rem;
          padding-left: 1.25rem;
        }
      
        @media (min-width: 1024px) {
          height: 80vh;
        }

        .left-text-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .stock-section {
        min-height: 100vh;
        height: auto;
        background-size: cover;

        .stock-section-background {
            background-image: url('../../img/investment.png');
            background-size: cover;
            transition: 1s;

            &.background-two {
                background-image: url('../../img/products-full-width.jpg') !important;
            }
        }

        .long-bois {
            height: 75vh; 
        }

        h1 {
            font-size: 4rem;
            line-height: 3rem;

            @media (max-width: 576px) {
              font-size: 3rem;
              line-height: 2.5rem;
            }
          
            @media (max-width: 768px) {
              font-size: 3.75rem;
              line-height: 3rem;
            }
        }

        @media (max-width: 767px) {
            height: 150vh;

            .col-right {
                height: 100vh;
            }
        }
    }

    .feature-section {
        min-height: 90vh;
    }

    .get-ahead-section {
        height: 25vh; 

        h1 {
            text-transform: uppercase;
        }
    }


    .blog-roll-container {

        .blog-container {
            border-left: 1px solid #E6E6E6;

            .blog-outer-container {
                height: 50vh;
                color: #006fbb;
                transition: 0.2s;
            }

        }

        .blog-inner-container {
            height: 100%;
            width: calc(100% - 3rem);
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 1.5rem 0;
          
            * {
              z-index: 2;
            }

            .lead {
                font-weight: 400;
            }

            .blog-desc {
                color: #444444;
            }

            .blog-btn-container {
                .btn {
                    border-radius: 20px;
                    border-color: white;
                    border-width: 1px;
                    font-size: 14px;
                    color: white;
                    line-height: 0.75rem;
                }
                .btn-text {
                    line-height: 0.75rem;
                    font-size: 0.75rem;
                    margin-top: 3.5px;
                    font-weight: 300;
                    padding: 0 0.75rem;
                }
            }
          
            @media (max-width: 426px) {
              border-bottom: 1px solid #444444;
              margin: 0 1.5rem;
              padding: 0;
            }
        }
    }

    .carousel-container {
        height: 70vh;

        .carousel-item{
            height: 70vh;
        } 
    }

    .img-container {
        .carousel {
            height: 100%;

            .carousel-inner {
                height: 100%;

                .carousel-item {
                    height: 100%;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }




}

