.faq-page {
    .accordion {
        border-top: 1px solid #91bcdc;
        border-bottom: 1px solid #91bcdc;

        button {
            font-weight: 500;
            color: #006fbb;
          
            .faq-answer {
              font-weight: 400;
              color: #444444;
            }
          
            :focus {
              box-shadow: none;
            }
          
            :hover {
              color: #006fbb;
            }
        }
    }
}