$primary: #006fbb;

.scroll-nav {
    .nav-link {
        margin-right: 1.35rem;
        color: black !important;
        
    }

    .custom-active-2 {
        color: $primary !important;
        font-weight: bold;
      }
}