@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap";


$primary: #006fbb;
$secondary: #91BCDC;
$background: #F5F5F5;

body {
    height: 100%;
}

@font-face {
    font-family: "Tungsten-Black";
    src: url('../fonts/Tungsten-Black.otf');
}

@font-face {
    font-family: "Kokomo-Breeze-Regular";
    src: url('../fonts/Kokomo-Breeze-Regular.otf');
}

@font-face {
    font-family: "Theinhardt";
    src: url('../fonts/THEINHARDT-REGULAR.otf');
}

@font-face {
    font-family: "Theinhardt";
    src: url('../fonts/THEINHARDT-MEDIUM.otf');
    font-weight: 500;
}

@font-face {
    font-family: "Theinhardt";
    src: url('../fonts/THEINHARDT-LIGHT.otf');
    font-weight: 300;
}

@font-face {
    font-family: "Theinhardt";
    src: url('../fonts/THEINHARDT-BOLD.otf');
    font-weight: 700;
}


h1 {
    font-family: "Tungsten-Black";
    color: white;
    letter-spacing: 1.8px;
    line-height: 3.15rem;
}


p {
    font-family: 'Theinhardt';
    font-weight: 300;
}

.big-text {
    font-size: 4rem;
    text-transform: uppercase;
    z-index: 2;

    @media (min-width: 576px) {
      font-size: 7rem;
    }
  
    @media (min-width: 768px) {
      font-size: 6rem;
    }
}

.big-subtitle {
    font-size: 3rem;
    line-height: 0.5;
    font-family: "Kokomo-Breeze-Regular";
    color: $secondary;
    z-index: 2;
    
    @media (min-width: 576px) {
      font-size: 6rem;
    }
  
    @media (min-width: 768px) {
      font-size: 5rem;
    }
  
    @media (min-width: 992px) {
      font-size: 5rem;
    }
  
    @media (min-width: 1200px) {
      font-size: 6rem;
    }
}

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.bg-grey {
    background-color: $background;
}

.card {
  border: none !important;
  border-radius: 0;
}

.card-body {
    text-align: left;
}

.section-leading-text {
    font-family: 'Theinhardt';
    font-weight: 400;
    font-size: 26.5px;
}

.full-width-image-container {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.full-width-image {
    width: 100vw;
    height: 400px;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-2, .display-3 {
    text-transform: uppercase;
    line-height: 0.75;
}

.btn {
    font-size: 12px;
    border-width: 2px;
}

.bg-primary {
    background-color: $primary !important;
}

.col-md-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.bg-grey {
    background-color: #F5F5F5;
}

.modal-lg {
    width: 90vw;
    height: 90vh;
    max-width: none !important;
}

.modal-content {
    height: 100%;
}



