$primary: #006fbb;


.contact-page {


    .customer-service-section {
        height: 50vh;
    }

    .social-media-section {
        height: 20vh;
        background-color: $primary;
    }

    .contact-us-form {
        min-height: 60vh;
        padding-top: 12.5vh;
    }

    .form-control {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $primary;
    }

}