.price-page {
    p {
        font-size: 13px;
        margin-bottom: 0;
    }

    .card {
        border: none !important;
        border-radius: 0;
        line-height: 1;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.17);
    }
}